[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
drift = {path = ".", editable = true, extras = ['aws', 'test']}
driftconfig = { git = 'https://github.com/dgnorth/drift-config.git', ref = 'develop'}

[packages]

[requires]
python_version = "3"
