[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

driftconfig = { git = 'https://github.com/dgnorth/drift-config.git', ref = 'develop'}
"e1839a8" = {path = ".", editable = true}


[dev-packages]

driftconfig = { git = 'https://github.com/dgnorth/drift-config.git', ref = 'develop', editable = true }
"e1839a8" = {path = ".", extras = ["test"], editable = true}


[requires]

python_version = "2.7"
